@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Poppins';
}

body {
  color: #ffffff;
  background-color: #ff7a7a;
  background-image: url(C:/Users/jnewm/Desktop/intro-component-with-signup-form-master/images/bg-intro-desktop.png);
  background-size: cover;
}

.btn:hover {
  background-color: #59e8a5;
}

@media only screen and (max-width: 800px) {
  body {
    background-image: url(C:/Users/jnewm/Desktop/intro-component-with-signup-form-master/images/bg-intro-mobile.png);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4%;
  }
  header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header p {
    text-align: center;
    height: 4rem;
    padding: 5% 15% 0 15%;
    font-size: 0.9rem;
    width: 100%;
    background-color: #6055a5;
    border-radius: 7px;
    border: none;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  aside {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    font-size: 1rem;
  }
  aside h1 {
    margin-bottom: 0;
  }
  aside p {
    font-size: 0.9rem;
    line-height: 1.8rem;
    padding: 3%;
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    background-color: #ffffff;
    border-radius: 9px;
    padding: 0 5% 5% 5%;
  }
  #terms {
    font-size: 0.8rem;
    color: #b9b6d3;
    text-align: center;
  }
  .red {
    color: #ff7a7a;
  }
  input {
    height: 2.5rem;
    border: 1px solid #b9b6d3;
    border-radius: 9px;
    width: 100%;
    margin-top: 7%;
  }
  input::-webkit-input-placeholder {
    padding-left: 5%;
    font-weight: 550;
  }
  input:-ms-input-placeholder {
    padding-left: 5%;
    font-weight: 550;
  }
  input::-ms-input-placeholder {
    padding-left: 5%;
    font-weight: 550;
  }
  input::placeholder {
    padding-left: 5%;
    font-weight: 550;
  }
  #error1,
  #error2,
  #error3,
  #error4 {
    display: none;
    font-size: 0.8rem;
    color: #ff7a7a;
    text-align: right;
    padding-right: 3%;
    margin: 0;
  }
  .btn {
    background-color: #38cc8c;
    color: #ffffff;
    font-weight: 550;
    border: none;
  }
}

@media only screen and (min-width: 801px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3%;
  }
  header {
    position: relative;
    border: none;
    border-radius: 9px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 1%;
    width: 35%;
    text-align: center;
    background-color: #6055a5;
    margin: -35% 0 0 55%;
  }
  aside {
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 40%;
    margin: 11% 0 0 6%;
  }
  aside h1 {
    font-size: 3rem;
    width: 100%;
  }
  aside p {
    width: 100%;
    font-size: 0.9rem;
  }
  section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 35%;
    height: 10%;
    background-color: #ffffff;
    border: none;
    border-radius: 9px;
    margin: 2% 0 0 55%;
  }
  input {
    height: 2.5rem;
    width: 100%;
    border-radius: 9px;
    border: 1px solid #b9b6d3;
    margin-top: 10%;
  }
  input::-webkit-input-placeholder {
    padding-left: 5%;
    font-weight: 550;
  }
  input:-ms-input-placeholder {
    padding-left: 5%;
    font-weight: 550;
  }
  input::-ms-input-placeholder {
    padding-left: 5%;
    font-weight: 550;
  }
  input::placeholder {
    padding-left: 5%;
    font-weight: 550;
  }
  #error1,
  #error2,
  #error3,
  #error4 {
    display: none;
    color: #ff7a7a;
    text-align: right;
    font-size: 0.8rem;
    padding-right: 5%;
    margin: 0;
  }
  .btn {
    border: none;
    background-color: #38cc8c;
    width: 100%;
    font-weight: 550;
    color: #ffffff;
    margin-bottom: 0;
    height: 2.8rem;
  }
  form {
    padding: 0 5% 5% 5%;
  }
  #terms {
    color: #b9b6d3;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  .red {
    color: #ff7a7a;
  }
}
/*# sourceMappingURL=styles.css.map */